/***** GLOBAL STYLES ******/

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  line-height: 1.5;
  text-align: center;
  font-size: 13px;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Poppins";
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
}

p {
  margin: 0;
  padding: 1rem 0;
}

.header_image img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background: hsl(322, 100%, 66%);
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.btn:hover,
#footer #footer_section1 .footer_btn:hover {
  background: hsl(321, 100%, 78%);
  color: #fff;
}

.content-wrap {
  width: 80%;
  margin: 0 auto;
}

/****** NAV STYLES *******/

#nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
  /* margin-bottom: 1em; */
  /* padding-bottom: 1em;
    padding-top: 5px; */
  /* padding: 5px 5px 1em 5px; */
  padding: 1rem 0.1rem 4rem 0.1rem;
}

.nav_logo {
  margin-top: 0.7rem;
  height: 1.23rem;
}

.nav_button {
  display: inline-block;
  background: #fff;
  color: hsl(322, 100%, 66%);
  text-decoration: none;
  padding: 0.5rem 1.3rem;
  border: 0.1rem solid hsl(322, 100%, 66%);
  border-radius: 1.5rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.nav_button:hover {
  color: hsl(321, 100%, 78%);
  border: 0.1rem solid hsl(321, 100%, 78%);
}

/******* HEADER STYLES ******/

.header_image {
  margin: 1rem 0;
  padding: 2rem 0;
}

#header .stats-wrap img {
  width: 2rem;
  /* padding-top: 12px; */
}

#header h1 {
  padding: 16px 0;
}

#header_text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-weight: 600;
}

#header .stats-wrap_item {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  margin-bottom: 0.8rem;
  /* text-align: left; */
}

#header .stats-wrap_num {
  margin: 0;
  padding: 0;
  font-size: 4.5rem;
  font-weight: 700;
}

#header .stats-wrap_text {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

/******** MAIN CONTENT STYLES ********/

main > section {
  padding: 4.6rem 0;
}

#sectionA {
  background-color: hsl(207, 100%, 98%);
  /* background: url(./images/) top no-repeat, url(./images/bg-section-bottom-mobile-1.svg) bottom no-repeat; */
}

#sectionC {
  background-color: hsl(207, 100%, 98%);
  /*  background: url(./images/bg-section-top-mobile-2.svg) top no-repeat, url(./images/bg-section-bottom-mobile-2.svg) bottom no-repeat; */
}

.section_image img {
  width: 16.9rem;
  padding: 2.3rem 0.2rem;
}

main > section .section_text > h3 {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 0.9rem;
}

main > section .section_text > p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.38rem 0;
}

#sectionD > div {
  padding: 4.6rem 0.38rem;
}
#sectionD h2 {
  font-size: 1.8rem;
}

/******* FOOTER STYLES ******/
#footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  text-align: left;
  padding-top: 2rem;
}

#footer_top {
  width: 100%;
  min-height: 53px;
  position: relative;
}

#footer_top img {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

/*****FOOTER SECTION ONE ******/
#footer #footer_section1 {
  display: flex;
  flex-direction: column;
  padding: 2.3rem 0;
}

#footer #footer_section1 h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
}

#footer #footer_section1 p {
  font-size: 1rem;
}

#footer #footer_section1 input {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.15em 0.07rem;
  margin-bottom: 0.3rem;
  border: none;
  height: 2.4rem;
}
#footer #footer_section1 input:hover {
  cursor: pointer;
  transition: 0.3s;
  border: 0.15rem solid rgb(164, 72, 93);
}

#footer #footer_section1 input:focus {
  outline: none;
  transition: 0.2s;
  border: 0.15rem solid rgb(164, 72, 93) !important;
}
#footer #footer_section1 #message {
  color: rgb(164, 72, 93);
}

/*****FOOTER SECTION TWO ******/
#footer #footer_section2 {
  display: flex;
  flex-direction: column;
  padding: 2.3rem 0;
  font-size: 1rem;
}

#footer #footer_section2 .footer_logo svg {
  /* width: 16px; */
  fill: #fff;
  width: 220px;
}

#footer_section2 .footer_text {
  margin-bottom: 1.5rem;
}

#footer #footer_section2 .footer_section2_contact {
  display: flex;
  /* min-width: 70px; */
  gap: 1.5rem;
  align-content: center;
}

#footer #footer_section2 .footer_section2_contact .footer-svg {
  margin: 1.1rem 0;
}

#footer #footer_section2 .footer_section2_socials {
  padding-top: 1.1rem;
  margin-top: 1.5rem;
}

#footer #footer_section2 .footer_section2_socials > a {
  padding: 0.07rem 1.07rem 0 0.07rem;
}

#footer #footer_section2 .footer_section2_socials .fa {
  color: #fff;
}

#footer #footer_section2 .footer_section2_socials .fa-facebook-f:hover {
  color: #3b5998;
}

#footer #footer_section2 .footer_section2_socials .fa-instagram:hover {
  color: #dd2a7b;
}

#footer #footer_section2 .footer_section2_socials .fa-twitter:hover {
  color: #00acee;
}

/******* MEDIA QUERY ******/

@media (max-width: 700px) {
  #header .stats-wrap {
    width: fit-content;
    text-align: left;
    margin: 0 auto;
  }

  #sectionA_background-top {
    width: 100%;
    height: 112px;
    background-image: url("./images/bg-section-top-mobile-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #sectionA_background-bottom {
    height: 52px;
    width: 100%;
    background-image: url("./images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #sectionC_background-top {
    width: 100%;
    height: 103px;
    background-image: url("./images/bg-section-top-mobile-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #sectionC_background-bottom {
    height: 101px;
    width: 100%;
    background-image: url("./images/bg-section-bottom-mobile-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #footer_top_desktop {
    display: none;
  }

  /*  #footer_top {
        width: 100%;
        height: 53px;
        background-image: url('./images/bg-footer-top-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } */

  #footer #footer_section1 .footer_section1_subscribe {
    display: flex;
    flex-direction: column;
  }

  #footer #footer_section1 .footer_btn {
    display: inline-block;
    background: hsl(322, 100%, 66%);
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.38rem;
    margin: 1rem 0;
    width: 9.2rem;
    align-self: flex-end;
    cursor: pointer;
  }
}

@media (min-width: 700px) {
  body {
    font-size: 16px;
  }
  .btn {
    border-radius: 2rem;
    cursor: pointer;
    padding: 1.5rem 5.4rem;
    font-size: 1rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
  }

  .content-wrap {
    max-width: 1100px;
    margin: 0 auto;
  }

  /* -----NAV----- */
  #nav {
    padding: 3rem;
    margin-bottom: 7rem;
    /*  padding-left: 2rem;
    padding-right: 2rem; */
  }
  .nav_logo {
    margin-top: 0.7rem;
    height: 2.2rem;
  }
  .nav_button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  /* -----HEADER------- */

  #header .stats-wrap {
    display: flex;
    width: auto;
    text-align: left;
    margin: 4rem auto;
    justify-content: space-around;
    align-items: center;
  }
  #header .stats-wrap img {
    width: 2.8rem;
  }
  #header h1 {
    padding: 16px 0;
    font-size: 2.8rem;
  }
  #header button {
    font-size: 1rem;
    padding: 1.5rem 5.4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  #header .header_image {
    padding: 2px 5rem;
    margin-top: 5rem;
  }
  #header .stats-wrap_num {
    font-size: 5.2rem;
  }
  #header_text {
    max-width: 540px;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 600;
  }

  /* ---MAIN---- */
  main > section .section_text > h3 {
    font-size: 2.2rem;
  }
  main > section .section_text > p {
    font-size: 0.9rem;
  }

  #sectionA_background-top {
    width: 100%;
    height: 165px;
    background-image: url("./images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #sectionA_background-bottom {
    height: 139px;
    width: 100%;
    background-image: url("./images/bg-section-bottom-desktop-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #sectionC_background-top {
    width: 100%;
    height: 156px;
    background-image: url("./images/bg-section-top-desktop-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #sectionC_background-bottom {
    height: 139px;
    width: 100%;
    background-image: url("./images/bg-section-bottom-desktop-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #sectionA {
    background-color: hsl(207, 100%, 98%);
    background-size: 100%, 100%;
  }

  #sectionC {
    background-color: hsl(207, 100%, 98%);
  }

  .section_image img {
    width: 100%;
    height: auto;
    padding: 2.3em 0.2em;
  }
  .section_text {
    text-align: left;
  }
  #sectionA .section_text,
  #sectionC .section_text,
  #footer #footer_section2 {
    order: -1;
  }
  #sectionD h2 {
    font-size: 2.2rem;
  }

  /* ----FOOTER---- */

  #footer #footer_section2 p,
  #footer #footer_section1 p {
    font-size: 0.9rem;
  }

  #footer_top {
    min-height: 110px;
  }

  #footer_top_mobile {
    display: none;
  }

  #footer .grid {
    grid-column-gap: 7rem;
    align-items: flex-start;
    padding-top: 2rem;
  }
  #footer #footer_section1 p {
    max-width: 23rem;
  }
  #footer #footer_section2 p {
    max-width: 20rem;
  }

  #footer #footer_section1 .footer_section1_subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  #footer #footer_section1 h2 {
    padding-top: 0;
  }

  #footer #footer_section2 .footer_logo svg {
    /* width: 16px; */
    fill: #fff;
    width: 250px;
  }

  #footer #footer_section1 .footer_section1_subscribe .footer_section1_input {
    flex-grow: 2;
  }

  .footer_section1_subscribe {
    margin-top: 2rem;
  }

  #footer #footer_section1 input {
    width: 100%;
  }

  #footer #footer_section1 .footer_btn {
    display: inline-block;
    background: hsl(322, 100%, 66%);
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.38em;
    margin-top: 1px;
    width: 8em;
    height: 2.4rem;
  }
}
